<%- include('../partials/header') %>

<main class="main" id="main">
    <section class="hex-section">
        <p class="hex"><%= data.hex %></p>
    </section>
</main>

<%- include('../partials/footer') %> 