<%- include('../partials/header') %>

<main class="main" id="main">
    <h2 class="home-title">Api Description</h2>
    <p class="home-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dignissimos incidunt provident ipsa adipisci nesciunt, reprehenderit laboriosam sapiente quaerat nihil itaque molestiae recusandae unde corporis harum soluta eos officiis velit ut exercitationem veniam, nam a natus quia. Praesentium repudiandae possimus necessitatibus iste nihil explicabo ipsum velit voluptates beatae facere mollitia, itaque voluptatum, at delectus. Cupiditate, tenetur! Hic aspernatur voluptates quas aut dicta saepe voluptas id mollitia ullam eum porro natus iusto inventore expedita perspiciatis soluta corporis, nobis nostrum quae reprehenderit? Nemo obcaecati debitis quam labore. Labore, nihil debitis a blanditiis quasi eos ipsa qui ea, delectus ullam odio, ab culpa!
    </p>
</main>

<%- include('../partials/footer') %> 